<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99Cats.com!</h1>
    <p>
      Thank you for joining us!
      Your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login to the site, click the following link: <%= @url %>.
    </p>
  </body>
</html>
