<h2>EDIT <%= @band.name.upcase %></h2>

<form action="<%= band_url(@band) %>" method="post">
  <%= token_auth %>
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label>
  <input id="name" type="text" name="band[name]" value="">
  <input type="submit" value="Submit">

</form>
