<h2>NEW BAND</h2>

<form action="<%= bands_url %>" method="post">
  <%= token_auth %>

  <label for="name">Name</label>
  <input id="name" type="text" name="band[name]" value="">
  <input type="submit" value="Submit">
</form>
