<h2>SIGN UP</h2>

<form action="<%= users_url %>" method="post">
  <%= token_auth %>

  <label for="email">Email</label>
  <input type="text" name="user[email]">

  <label for="password">Password</label>
  <input type="password" name="user[password]">

  <input type="submit" value="Submit">
</form>
